@using RCTrans.Data.Models.Enums
@model RCTrans.Web.ViewModels.Autopark.ReserveVehicleViewModel
@{
    ViewData["Title"] = "Детайли";
}

<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Car List Content Start -->
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="car-details-content">
                    <h2>@Model.Manufacturer @Model.Model<span class="price">Цена: <b>@Model.Price лв/ден</b></span></h2>
                    <div>
                        <img class="vehicle-reserve-img" src="@Model.ImageURL" alt="JSOFT">
                    </div>
                    <div class="car-details-info">
                        <h4>Допълнителна информация</h4>
                        <p>@Model.AdditionalInfo</p>

                        <div class="technical-info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tech-info-table">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Управление</th>
                                                    <td>@Model.Transmission.GetDisplayName()</td>
                                                </tr>
                                                <tr>
                                                    <th>Гориво</th>
                                                    <td>@Model.Fuel.GetDisplayName()</td>
                                                </tr>
                                                <tr>
                                                    <th>Места</th>
                                                    <td>@Model.Seats</td>
                                                </tr>
                                                <tr>
                                                    <th>Врати</th>
                                                    <td>@Model.Doors</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="tech-info-list">
                                        <ul>
                                            <li>Неограничени KM</li>
                                            <li>Защита от кражба</li>
                                            <li>Климатик</li>
                                            @if (Model.WinterTyres)
                                            {
                                                <li>Зимни гуми</li>
                                            }
                                            <li>ДДС 20%</li>
                                        </ul>
                                    </div>
                                </div>

                                <a class="btn theme-btn" asp-area="" asp-controller="Order" asp-action="CreateOrder" asp-route-id="@Model.Id">Резервирай</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>