@model RCTrans.Web.ViewModels.Autopark.IndexViewModel
@{
    ViewData["Title"] = "Автопарк";
}

    <section id="choose-car" class="pages-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Избери превоз</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Изберете най-подходящия за вас или вашия бизнес транспорт.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <!-- Choose Area Content Start -->
                <div class="col-lg-12">
                    <div class="choose-content-wrap">
                        <!-- Choose Area Tab Menu -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#cars" role="tab" aria-selected="true">Коли</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#buses" role="tab" aria-selected="false">Бусове</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#autobus" role="tab" aria-selected="false">Автобуси</a>
                            </li>
                        </ul>
                        <!-- Choose Area Tab Menu -->
                        <!-- Choose Area Tab content -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Popular Cars Tab Start -->
                            <div class="tab-pane fade show active" id="cars" role="tabpanel" aria-labelledby="home-tab">
                                <!-- Popular Cars Content Wrapper Start -->
                                <div class="popular-cars-wrap">
                                    <!-- Filtering Menu -->
                                    <div class="popucar-menu text-center">
                                        <a href="#" data-filter="*" class="active">all</a>
                                        <a href="#" data-filter=".con" class="">Conver</a>
                                        <a href="#" data-filter=".hat">Truck</a>
                                        <a href="#" data-filter=".mpv">MPV</a>
                                        <a href="#" data-filter=".sedan">Sedan</a>
                                        <a href="#" data-filter=".suv">SUV</a>
                                    </div>

                                    <!-- Filtering Menu -->
                                    <!-- PopularCars Tab Content Start -->
                                    <div class="row popular-car-gird" style="position: relative; height: 763.5px;">
                                        @foreach (var vehicle in @Model.Vehicles)
                                        {
                                            <!-- Single Popular Car Start -->
                                            <div class="col-lg-4 col-md-6 con suv mpv" style="position: absolute; left: 0px; top: 0px;">
                                                <div class="single-popular-car">
                                                    <div class="p-car-thumbnails">
                                                        <a class="car-hover" href=@vehicle.ImageURL>
                                                            <img src=@vehicle.ImageURL alt="JSOFT">
                                                        </a>
                                                    </div>

                                                    <div class="p-car-content">
                                                        <h3>
                                                            <a href="#">@vehicle.Manufacturer @vehicle.Model</a>
                                                            <span class="price"><i class="fa fa-tag"></i> @vehicle.Price</span>
                                                        </h3>

                                                        <h5>@vehicle.Transmission управление</h5>

                                                        <div class="p-car-feature">
                                                            <a href="#">@vehicle.Fuel</a>
                                                            <a href="#">Места: @vehicle.Seats</a>
                                                            <a href="#">Врати: @vehicle.Doors</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Popular Car End -->
                                        }
                                    </div>
                                    <!-- PopularCars Tab Content End -->
                                </div>
                                <!-- Popular Cars Content Wrapper End -->
                            </div>
                            <!-- Popular Cars Tab End -->
                            <!-- Newest Cars Tab Start -->
                            <div class="tab-pane fade" id="buses" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- Newest Cars Content Wrapper Start -->
                                <div class="popular-cars-wrap">
                                    <!-- Filtering Menu -->
                                    <div class="newcar-menu text-center">
                                        <a href="#" data-filter="*" class="active">all</a>
                                        <a href="#" data-filter=".toyota">toyota</a>
                                        <a href="#" data-filter=".bmw">bmw</a>
                                        <a href="#" data-filter=".audi">audi</a>
                                        <a href="#" data-filter=".tata">Tata</a>
                                    </div>

                                    <!-- Filtering Menu -->
                                    <!-- NewestCars Tab Content Start -->
                                    <div class="row newest-car-gird">
                                        <!-- Single Newest Car Start -->
                                        <div class="col-lg-4 col-md-6 tata audi">
                                            <div class="single-new-car">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/img/car/car-6.jpg">
                                                        <img src="~/img/car/car-6.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">Toyota RAV4 EV</a>
                                                        <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                    </h3>

                                                    <h5>Toyota</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2018</a>
                                                        <a href="#">Auto</a>
                                                        <a href="#">Non AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Newest Car End -->
                                        <!-- Single Newest Car Start -->
                                        <div class="col-lg-4 col-md-6 bmw tata toyota">
                                            <div class="single-new-car">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/img/car/car-5.jpg">
                                                        <img src="~/img/car/car-5.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">Toyota RAV4 EV</a>
                                                        <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                    </h3>

                                                    <h5>Toyota</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2018</a>
                                                        <a href="#">Auto</a>
                                                        <a href="#">Non AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Newest Car End -->
                                        <!-- Single Newest Car Start -->
                                        <div class="col-lg-4 col-md-6 bmw">
                                            <div class="single-new-car">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/img/car/car-4.jpg">
                                                        <img src="~/img/car/car-4.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">Toyota RAV4 EV</a>
                                                        <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                    </h3>

                                                    <h5>Toyota</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2018</a>
                                                        <a href="#">Auto</a>
                                                        <a href="#">Non AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Newest Car End -->
                                    </div>
                                    <!-- NewestCars Tab Content End -->
                                </div>
                                <!-- Newest Cars Content Wrapper End -->
                            </div>
                            <!-- Newest Cars Tab End -->
                            <!-- Autobus Tab Start -->
                            <div class="tab-pane fade" id="autobus" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- Autobus Content Wrapper Start -->
                                <div class="popular-cars-wrap">
                                    <!-- Filtering Menu -->
                                    <div class="autobus-menu text-center">
                                        <a href="#" data-filter="*" class="active">all</a>
                                        <a href="#" data-filter=".toyota">toyota</a>
                                        <a href="#" data-filter=".bmw">bmw</a>
                                        <a href="#" data-filter=".audi">audi</a>
                                        <a href="#" data-filter=".tata">Tata</a>
                                    </div>
                                    <!-- Filtering Menu -->
                                    <!-- Autobus Tab Content Start -->
                                    <div class="row autobus-gird">
                                        <!-- Single Autobus Start -->
                                        <div class="col-lg-4 col-md-6 bmw">
                                            <div class="single-autobus">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/img/car/car-4.jpg">
                                                        <img src="~/img/car/car-4.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">Toyota RAV4 EV</a>
                                                        <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                    </h3>

                                                    <h5>Toyota</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2018</a>
                                                        <a href="#">Auto</a>
                                                        <a href="#">Non AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Autobus End -->
                                        <!-- Single Autobus Start -->
                                        <div class="col-lg-4 col-md-6 tata audi">
                                            <div class="single-autobus">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/img/car/car-6.jpg">
                                                        <img src="~/img/car/car-6.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">Toyota RAV4 EV</a>
                                                        <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                    </h3>

                                                    <h5>Toyota</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2018</a>
                                                        <a href="#">Auto</a>
                                                        <a href="#">Non AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Autobus End -->
                                        <!-- Single Autobus Start -->
                                        <div class="col-lg-4 col-md-6 bmw tata toyota">
                                            <div class="single-autobus">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/img/car/car-5.jpg">
                                                        <img src="~/img/car/car-5.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="#">Toyota RAV4 EV</a>
                                                        <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                    </h3>

                                                    <h5>Toyota</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2018</a>
                                                        <a href="#">Auto</a>
                                                        <a href="#">Non AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Autobus End -->
                                    </div>
                                    <!-- Autobus Tab Content End -->
                                </div>
                                <!-- Autobus Content Wrapper End -->
                            </div>
                            <!-- Autobus Tab End -->
                        </div>
                        <!-- Choose Area Tab content -->
                    </div>
                </div>
                <!-- Choose Area Content End -->
            </div>
        </div>
    </section>