@using System.Globalization;
@model RCTrans.Web.ViewModels.Administration.Dashboard.AllOrdersViewModel
@{
    ViewData["Title"] = "Всички поръчки";
}

<div id="blog-page-content" class="pages-padding">
    <div class="container">
        <div class="col-lg-12">
            <div class="section-title  text-center">
                <h2>@ViewData["Title"]</h2>
                <span class="title-line"><i class="fa fa-car"></i></span>
                @if (Model.Orders.Count() != 0)
                {
                    <p>Обща печалба: <strong>@Model.TotalPrice</strong> лв.</p>
                }
            </div>
        </div>
        <div class="row">
            @if (Model.Orders.Count() == 0)
            {
                <div class="col-lg-1"></div>
                <div class="col-lg-10 text-center">
                    <br />
                    <br />
                    <br />
                    <h5>Все още нямате поръчки.</h5>
                </div>
            }
            @foreach (var order in @Model.Orders)
            {
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="single-article">
                        <div class="row">
                            <div class="col-lg-6">
                                <div>
                                    <img class="article-index-img" src="@order.Vehicle.ImageURL" alt="JSOFT">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="article-body">
                                            <h3>@order.Vehicle.Manufacturer @order.Vehicle.Model</h3>
                                            <br />
                                            <p>Наето от: <strong>@order.User</strong></p>
                                            <p>Дата на наемане: @order.CreatedOn.ToString("dd.MM.yyyy", CultureInfo.CreateSpecificCulture("bg-BG"))</p>
                                            <br />
                                            <p>Дата на вземане: @order.StartDate.ToString(CultureInfo.CreateSpecificCulture("bg-BG"))</p>
                                            <p>Дата на връщане: @order.EndDate.ToString(CultureInfo.CreateSpecificCulture("bg-BG"))</p>
                                            <br />
                                            <p>
                                                Цена: <strong> @order.Price</strong>
                                            </p>

                                            @{
                                                var routeValues = new Dictionary<string, string>();
                                                routeValues.Add("orderId", order.Id.ToString());
                                                routeValues.Add("vehicleId", order.VehicleId.ToString());
                                            }

                                            <div class="d-flex justify-content-center">
                                                <a class="btn edit-btn" asp-area="Administration" asp-controller="Dashboard" asp-action="EditOrder" asp-all-route-data="@routeValues">Промени</a>
                                                <a class="btn delete-btn" asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteOrder" asp-route-id="@order.Id">Отмени</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            }
        </div>
    </div>
</div>